.menu{
    border-style: solid;
            background-color: #cfe2f3ff;

  font-family: 'comfortaa', serif;

  width: 150px;
  height: 525px;
}

.shabr{
  font-size: 30px;
  text-align: center;
  text-decoration: underline ;

  padding: 5px 0px 5px 0px;
}

.submenu{
  font-size: 15px;
}

.info{
  padding: 5px 0px 5px 5px;
}

.gallery{
  padding: 5px 0px 5px 5px;
}

.testimonials{
  padding: 5px 0px 5px 5px;
}

.contacts{
  padding: 5px 0px 5px 5px;
}

.skydance{
  border-style: solid;

  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 5px;

  position: relative;
  top: -500px;
  left: 500px;

  width: 400px;
  padding: 0px 100px 0px 100px;
}

.hotair{
  border-style: solid;

  font-family:'Playfair Display', serif;
  font-size: 30px;
  text-align: center;

  position: relative;
  top: -500px;
  left: 500px;

  width: 400px;
  padding: 0px 50px 0px 50px;
}

.ridewind{
  border-style: solid;

  font-family:'caveat', cursive;
  font-size: 25px;
  text-align: center;

  position: relative;
  top: -500px;
  left: 500px;

  width: 200px;
  padding: 0px 10px 0px 10px;
}

.dancesky{
  border-style: solid;

  font-family:'caveat', cursive;
  font-size: 25px;
  text-align: center;

  position: relative;
  top: -543px;
  left: 700px;

  width: 200px;
  padding: 0px 10px 0px 10px;
}

